.diagonal-background {
    background: rgb(208,227,204);
    background: linear-gradient(145deg, rgba(193,202,214,1) 0%, rgba(61,90,128,1) 100%);
}

input, textarea, #contactSubmit {
    background-color: rgba(255,255,255,0.5) !important;
    color: #000 !important;
}

.navButton, .navDivider {
    background-color: rgba(0,0,0,0) !important;
}

.navButton:hover a{
    color: #708090 !important;
}

a {
    text-decoration: none !important;
}

@font-face {
    font-family: "HeadingFont";
    src: url('../fonts/LinlegreyRegular-Oo3O.ttf');
    font-weight: normal;
    font-style: normal;
  }

.font-heading {
    font-family: 'HeadingFont', sans-serif;
}

.center-screen {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
}
