.diagonal-background {
    background: rgb(208,227,204);
    background: linear-gradient(90deg, rgba(208,227,204,1) 0%, rgba(252,253,175,1) 50%, rgba(219,161,89,1) 100%);
}

input, textarea, #contactSubmit {
    background-color: rgba(255,255,255,0.5) !important;
    color: #000 !important;
}

.navButton, .navDivider {
    background-color: rgba(0,0,0,0) !important;
}

.navButton:hover a{
    color: rgb(157, 196, 148) !important;
}

a {
    text-decoration: none !important;
}